a{
    text-decoration: none !important;
}
.d-block{
    display: block;
}
.h1-text-hide{
    background-repeat: no-repeat;
    width: 128px;
    height: 38px;
    text-indent: 101%;
    overflow:hidden;
    white-space: nowrap;
}
.logo{
    background-image: url(../asset/images/d’Perfume.png);
}
.logo-white{
    background-image: url(../asset/images/d’Perfumewhite.png);
}
.display-none{
    display: block;
    @include pad(){
        display: none;
    }
}