.intro_img{
    height: 555px;
    @include pad(){
        height: 350px;
    }
}

.sold-out{
    position: relative;
}
.sold-out ::before{
    content: 'Sold out';
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: 99;
    display: flex;
    justify-content:center;
    align-items: center;
    color: white;
    background-color: rgba(0, 0, 0,0.3);
    width: 100%;
    height: 100%;
}

.types-card-img{
    height: 540px;
    @include pad{
        height: 350px;
    }
    img{
        height: 350px;
        object-position: bottom;
        object-fit: cover;
    }
}
.bottle-recycling-img{
    @include phone(){
        height: 520px;
        object-fit: cover;
    }
}
.bottle-recycling-text{
    padding-right: 0;
    padding-left: 1.75rem;
    @include phone(){
        padding-right: 0.75rem;
        padding-left: 0.75rem;
    }
}
